#container {
	position: relative;
	top: 30px;
	font-size: 0;
	margin-left: 50px;
	padding: 0;
	border: none;
	background-image: url("https://i.imgur.com/tXqmbyh.png");
	background-repeat: no-repeat;
}
body {
	background-color: black;
	background-image: url("https://i.imgur.com/merM8Tf.png");
	background-position: right;
	background-repeat: no-repeat;
}
h2 {
	display: inline-block;
	position: justify;
}
#Title {
	color: gold;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 36px;
}
#equipment {
	font-size: 14px;
	color: white;
	margin-left: 50px;
	font-family: Comic Sans MS;
}
#LIFE {
	color: red;
	font-family: Courier;
	float: right;
	margin-right: 250px;
}
#sword {

}
.row {
/*	outline:1px solid blue;
*/}
.game-square {
/*	outline:1px solid blue;
*/	height: 32px;
	width: 32px;
	display: inline-block;
}
.hero {
/*	background-color: orange;
*/	content:url("https://i.imgur.com/IZallmN.gif");
	position: relative;
	min-height: 32px;
	width: 30px;
}
/*https://ya-webdesign.com/images/link-nes-png-6.png   	Link facing down
https://i.imgur.com/gBEWurw.png  						Link facing right
https://i.imgur.com/abBuvjQ.png							Link facing left
https://i.imgur.com/arBUiFo.png							Link facing up
https://i.imgur.com/JEyPBc6.png 						Bat wings open
https://i.imgur.com/sK6TOOj.png 						Bat wings closed
https://i.imgur.com/I46bClF.gif 						Bat gif
https://i.imgur.com/ypjv49F.png 						Link atk left
https://i.imgur.com/xF5wkSs.png 						Link atk sword left
https://i.imgur.com/yWVt0cq.png 						Link atk right
https://i.imgur.com/LhHh7AK.png 						Link atk sword right
https://i.imgur.com/DPKnPxz.png 						Link atk up
https://i.imgur.com/2qVhI0i.png							Link atk sword up
https://i.imgur.com/a4H8WVq.png 						Link atk down
https://i.imgur.com/lB21hzZ.png 						Link atk sword down
https://i.imgur.com/rCtMDmM.png 						Heart full
https://i.imgur.com/shGzmqx.png 						Heart half full
https://i.imgur.com/avbzJkV.png 						Heart empty
https://i.imgur.com/a5b5ZEn.png 						Sword Image
http://noproblo.dayjo.org/ZeldaSounds/LTTP/LTTP_ItemFanfare.wav  	Chest open sound
http://noproblo.dayjo.org/ZeldaSounds/LTTP/LTTP_Link_Hurt.wav 		Link hurt

*/

.bat {
	content:url("https://i.imgur.com/I46bClF.gif");
	position: relative;
	height: 25px;
	width: 30px;
}

.up {

}
.down {

}
.left {

}

.right {

}






