

#container {
	position: relative;
	top: 30px;
	font-size: 0;
	margin-left: 50px;
	margin-top: -30px;
	padding: 0;
	border: none;
	background-image: url("https://i.imgur.com/04n4zf7.png");
	background-repeat: no-repeat;
}
body {
	background-color: black;
	background-image: url("https://i.imgur.com/merM8Tf.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: stretch;
/*	box-shadow: 0 3000px rgba(255, 0, 0, 0.6) inset;
*/
}
h3 {
	display: block;
	position: justify;
	margin-bottom: -50px;
	margin-left: 10px;
	color: gold;
}
h2 {
	display: inline-block;
	position: justify;
}
#Title {
	color: gold;
	margin-left: 35px;
	margin-right: 20px;
	font-size: 64px;
}
#equipment {
	font-size: 14px;
	color: white;
	margin-left: 50px;
	font-family: Comic Sans MS;
}
#LIFE {
	color: red;
	font-family: Courier;
	margin-left: 55px;
	margin-top: 70px;
}
#sword {

}
.door {
/*background-image: url("https://i.imgur.com/iB0S4XG.gif");
*/}
.row {
/*	outline:1px solid blue;
*/}
.gameboard {
	background-repeat: no-repeat;
}
.game-square {
/*	outline:1px solid blue;
*/	height: 32px;
	width: 32px;
	display: inline-block;
}
.hero {
/*	background-color: orange;
*/	content:url("https://i.imgur.com/IZallmN.gif");
	position: relative;
	min-height: 32px;
	width: 30px;
}
/*https://ya-webdesign.com/images/link-nes-png-6.png   	Link facing down
https://i.imgur.com/gBEWurw.png  						Link facing right
https://i.imgur.com/abBuvjQ.png							Link facing left
https://i.imgur.com/arBUiFo.png							Link facing up
https://i.imgur.com/JEyPBc6.png 						Bat wings open
https://i.imgur.com/sK6TOOj.png 						Bat wings closed
https://i.imgur.com/I46bClF.gif 						Bat gif
https://i.imgur.com/ypjv49F.png 						Link atk left
https://i.imgur.com/xF5wkSs.png 						Link atk sword left
https://i.imgur.com/yWVt0cq.png 						Link atk right
https://i.imgur.com/LhHh7AK.png 						Link atk sword right
https://i.imgur.com/DPKnPxz.png 						Link atk up
https://i.imgur.com/2qVhI0i.png							Link atk sword up
https://i.imgur.com/a4H8WVq.png 						Link atk down
https://i.imgur.com/lB21hzZ.png 						Link atk sword down
https://i.imgur.com/rCtMDmM.png 						Heart full
https://i.imgur.com/shGzmqx.png 						Heart half full
https://i.imgur.com/avbzJkV.png 						Heart empty
https://i.imgur.com/a5b5ZEn.png 						Sword Image

https://i.imgur.com/GUtC5FT.png 						Room 0
https://i.imgur.com/04n4zf7.png 						Room 1
https://i.imgur.com/p3d1a5p.png 						Room 2


https://66.media.tumblr.com/24fd4082b31df8b1ded26c2ae6417019/tumblr_mgdycq3WwS1r3smugo1_500.gif
^^  Link death, fairy gif

https://i.imgur.com/iB0S4XG.gif 						Link death spin gif
http://noproblo.dayjo.org/ZeldaSounds/LTTP/LTTP_ItemFanfare.wav  	Chest open sound
http://noproblo.dayjo.org/ZeldaSounds/LTTP/LTTP_Link_Hurt.wav 		Link hurt

*/
.death {
	content: url("https://66.media.tumblr.com/24fd4082b31df8b1ded26c2ae6417019/tumblr_mgdycq3WwS1r3smugo1_500.gif");
	height: 200px;
	width: 240px;
}
.bat {
	content:url("https://i.imgur.com/I46bClF.gif");
	position: relative;
	height: 25px;
	width: 30px;
}

.up {

}
.down {

}
.left {

}

.right {

}






